.background-po{
    background-color: bisque;
}
.center-text{
    text-align: center;
    color: aqua;
  }
div.img, .rounded-image {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 100%;
}
p.bio {
    text-align: center;
}
.footer {
    background-color: #ffadad;
    padding: 10px;
    text-align: right;
}
.center-head {
    text-align: center;
}
.Things1 {
    background-color: #ffadad;
    padding: 50px;
}
.Things2 {
    background-color: #ade1ff;
    padding: 50px;
}

